﻿@model SklepInternetowy.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}

Witaj @SessionHelper.Name

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Utwórz", "ChangePassword")
            }
            ]
        </dd>
        <dt>Logowania zewnętrzne:</dt>
        <dd>
            @*@Model.Logins.Count [
            @Html.ActionLink("Zarządzaj", "ManageLogins") ]*@
        </dd>
        @*
            Numery telefonów mogą być używane jako drugi składnik w systemie uwierzytelniania dwuskładnikowego.
             
             Zapoznaj się z <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tym artykułem</a>,
                aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET do obsługi uwierzytelniania dwuskładnikowego przy użyciu wiadomości SMS.
             
             Po skonfigurowaniu uwierzytelniania dwuskładnikowego usuń komentarz z następującego bloku
        *@
        @*  
            <dt>Numer telefonu:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Usuń" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
       
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Włączono
                        <input type="submit" value="Wyłącz" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Wyłączono
                        <input type="submit" value="Włącz" class="btn btn-link" />
                        </text>
                    }
                }*@
       @* </dd>*@
    </dl>
</div>
