﻿
@model  UserViewModel
@using (Html.BeginForm("SaveUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<div id="editform">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Email)
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							@Html.HiddenFor(o=>o.Id)
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Name)
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
							@Html.HiddenFor(o => o.Id)
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Surname)
							@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Street)
							@Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.PostalCode)
							@Html.TextBoxFor(o => o.PostalCode, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.NumberHause)
							@Html.TextBoxFor(o => o.NumberHause, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.NumberHause, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.ApartmentNumber)
							@Html.TextBoxFor(o => o.ApartmentNumber, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ApartmentNumber, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.TelephoneNumber)
							@Html.TextBoxFor(o => o.TelephoneNumber, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.TelephoneNumber, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Country)
							@Html.TextBoxFor(o => o.Country, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.City)
							@Html.TextBoxFor(o => o.City, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Voivodeship)
							@Html.TextBoxFor(o => o.Voivodeship, "", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Voivodeship, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							@Html.LabelFor(m => m.Role)
							@*@Html.TextBoxFor(o => o.Role, "", new { @class = "form-control" })*@
							@Html.DropDownListFor(o => o.Role, Model.ListOfRole, " ", new { @class = "form-control" })
							@*@Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })*@
						</div>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="col-sm-5">
						<input type="submit" class="btn btn-default" value="Aktualizuj" />
					</div>
				</div>
			</div>
		</div>
	</div>

}