﻿@using SklepInternetowy.Models
@model LoginViewModel
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="row">
		<div class="col-sm-5">
			<div class="form-group">
				@Html.LabelFor(m => m.Email, new { @class = "col-sm-7 control-label" })
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-sm-5">
			<div class="form-group">
				<div class="checkbox1">
					@Html.CheckBoxFor(m => m.RememberMe)
					@Html.LabelFor(m => m.RememberMe)
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Zaloguj" class="btn btn-default" />
			</div>
		</div>
	</div>

}