﻿@using Microsoft.AspNet.Identity



<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>

			</div>


			<div class="modal-body modal-body-sub">
				@if (Request.IsAuthenticated)
				{
					using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
					{
						@Html.AntiForgeryToken()
						<div class="row">
							<div class="col-sm-6">
								<h1>@Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h1>
							</div>
							<div class="col-sm-6" style="text-align:right;">
								<a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12" style="border-top: 10px dotted #C2C2C2;">
								<b><h1 style="text-align:center;">Opcje profilu!</h1></b>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<ul class="multi-column-dropdown">
									<h2 style="border-bottom:2px dotted #3022b0;"></h2>
									<li><a href="products2.html">Zmień hasło</a></li>
									<li><a href="products2.html">Dane kontaktowe</a></li>
									<li><a href="products2.html">Zrealizowane zakupy</a></li>
									<li><a href="products2.html">Ocenione produkty</a></li>
								</ul>

							</div>
							<div class="col-md-6" style="border-left:2px dotted #3022b0;">
								<div class="logo1" style="text-align:center;">
									<img src="~/images/logo.png" />
								</div>

							</div>
						</div>
					}
				}
				else
				{
					<h4 class="modal-title" id="myModalLabel">Zaloguj się lub załóż konto!</h4>
					<br />
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>Zaloguj się</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>Zarejestruj się</span></li>
									</ul>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										@*@Html.Partial("_LoginPartial")*@
										<div class="facts">
											<div class="register">
												@Html.Partial("~/Views/Account/_LoginFormPartial.cshtml")


											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												@Html.Partial("~/Views/Account/_RegisterFormPartial.cshtml", new RegisterViewModel())
											</div>
										</div>
									</div>
								</div>
							</div>
							@*<script src="~/Scripts/ShopScripts/easyResponsiveTabs.js" type="text/javascript"></script>*@
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
							<div id="OR" class="hidden-xs">OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12">
									<h3 class="other-nw">Sign in with</h3>
								</div>
								<div class="col-md-12">
									<ul class="social">
										<li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
										<li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
										<li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
										<li class="social_behance"><a href="#" class="entypo-behance"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>