﻿@model SklepInternetowy.Models.RegisterViewModel


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr />
	@*@Html.ValidationSummary("", new { @class = "text-danger" })*@
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m=>m.Password,"",new { @class="text-danger"})
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
						@Html.ValidationMessageFor(m=>m.ConfirmPassword,"",new { @class="text-danger"})
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Surname, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Street, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.PostalCode, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.NumberHause, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.NumberHause, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.ApartmentNumber, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.ApartmentNumber, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.TelephoneNumber, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Country, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.City, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group">
						@Html.LabelFor(m => m.Voivodeship, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Voivodeship, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Zarejestruj" />
		</div>
	</div>

}
