﻿
 @*@model UserViewModel

@using (Html.BeginForm("SaveRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row">
	<div class="col-sm-5">
		<div class="form-group">
			@Html.LabelFor(m => m.Role)
			@Html.DropDownListFor(o => o.Role, Model.Role, " ", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ProductCategoryId, "", new { @class = "text-danger" })
		</div>
	</div>
</div>
}*@