﻿@model List<User>


<table id="example" class="table table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Imie</th>
			<th>Nazwisko</th>
			<th>Ulica</th>
			<th>Kod pocztowy</th>
			<th>Numer domu</th>
			<th>Numer mieszkania</th>
			<th>Telefon</th>
			<th>Państwo</th>
			<th>Miasto</th>
			<th>Województwo</th>
			<th>Rola</th>
			<th>Data dodania</th>
			<th>Edytuj</th>
			<th>Usuń</th>
		</tr>
	</thead>


</table>

<script>

	let userDataTable = null;
	$(document).ready(function () {
		userDataTable = $('#example').DataTable({
			"ajax": '/WebServices/WSUser/GridGetUsers',
			"columns": [
				{
					"data": "Id"
				},
				{
					"data": "Email"
				},
				{
					"data": "Name"
				},
				{
					"data": "Surname",
				},
				{
					"data": "Street",
				},
				{
					"data": "PostalCode",
				},
				{
					"data": "NumberOfHause",
				},
				{
					"data": "ApartmentNumber",
				},
				{
					"data": "TelephoneNumber",
				},
				{
					"data": "Country",
				},
				{
					"data": "City",
				},
				{
					"data": "Voivodeship",
				},
				{
					"data": "Role",
				},
				{
					//"data": "DateOfAddition"
					"render": function (data, type, row) {
						return new Date(row.DateOfAddition).toLocaleDateString();
					},
				},
				{
					"render": function (data, type, row) {
						return '<a href="/Account/EditUser/' + row.Id + '" class="btn btn-success glyphicon glyphicon-hand-right">Edytuj</a>';
					},
					orderable: false,
				},
				{
					"render": function (data, type, row) {
						return '<button onclick="deleteUser(' + row.Id + ')" class="btn btn-danger glyphicon glyphicon-trash" type="button">Usuń</button>';
					},
					orderable: false,

				},
			]
		});
	});

	function deleteUser(userid) {

		swal({
			title: 'Jesteś pewny?',
			text: "Zastanów się dobrze!",
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'TAK'
		}).then((result) => {
			if (result.value == true) {
				$.ajax({
					method: "DELETE",
					url: "/WebServices/WSUser/DeleteUser?userId=" + userid,
					dataType: 'json',
					data: ''
				}).done(function (msg) {
					swal(
						'Usunięto!',
						'Użytkownik został usunięty.',
						'success'
					);
					userDataTable.ajax.reload();
					//setTimeout(function () {
					//	location.reload();
					//}, 1000);

					//alert("Data Saved: " + msg);
				});

			}
		})


	}
</script>