﻿<div class="modal fade" id="myModal888" tabindex="-1" role="dialog" aria-labelledby="myModal888"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Dodaj nowy produkt!</h4>
			</div>
			<div class="modal-body modal-body-sub">
				<div class="row">
					<div class="col-md-12 modal_body_left modal_body_left1">
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								@Html.Partial("~/Views/Product/_EditProduct.cshtml",new ProductViewModel())
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>