﻿
@model  ProductViewModel
@using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						@Html.LabelFor(m => m.Name)
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
						@Html.HiddenFor(o => o.Id)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						@Html.LabelFor(m => m.Description)
						@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						@Html.LabelFor(m => m.Price)
						@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						@Html.LabelFor(m => m.ProductCategoryId)
						@Html.DropDownListFor(o => o.ProductCategoryId, Model.ListOfCategory, " ", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.ProductCategoryId, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="row">
				<br />
				<div class="col-sm-5">
					<input type="submit" class="btn btn-default" value="Aktualizuj" />
				</div>
			</div>
		</div>
	</div>
}