﻿@model List<Product>
<button data-toggle="modal" data-target="#myModal888" class="btn btn-success
		">Dodaj produkt</button>
@Html.Partial("~/Views/Product/_AddProductWindowPartial.cshtml")

<table id="example" class="table table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nazwa produktu</th>
			<th>Opis</th>
			<th>Cena</th>
			<th>Kategoria</th>
			<th>Data dodania</th>
			<th>Edytuj</th>
			<th>Usuń</th>
		</tr>
	</thead>
	@*<tbody>

			@foreach (Product prod in Model)
			{
				<tr>
					<td>@prod.Id</td>
					<td>@prod.Name</td>
					<td>@prod.Description</td>
					<td>@prod.Price zł</td>
					<td>@prod.ProductCategory.Name</td>
					<td>@prod.DateOfAddition</td>
					<td>@Html.ActionLink("Edytuj", "EditProduct", "Product", new { id = prod.Id }, new { @class = "btn btn-success glyphicon glyphicon-hand-right" })</td>
					<td>
						<button onclick="deleteProduct(@prod.Id)" class="btn btn-danger glyphicon glyphicon-trash" type="button">
							Usuń
						</button>
					</td>
				</tr>
			}
		</tbody>*@

</table>





<script>

	let productDataTable = null;
	$(document).ready(function () {

		$('#menuItemAdministration').addClass('act');

		productDataTable = $('#example').DataTable({
			"ajax": '/WebServices/WSProduct/GridGetProducts',
			"columns": [
				{
					"data": "Id"
				},
				{
					"data": "Name"
				},
				{
					"data": "Description"
				},
				{
					"data": "Price",
					"class": "text-right"
				},
				{
					"data": "CategoryName",
				},
				{
					//"data": "DateOfAddition"
					"render": function (data, type, row) {
						return new Date(row.DateOfAddition).toLocaleDateString();
					},
				},
				{
					"render": function (data, type, row) {
						return '<a href="/Product/EditProduct/' + row.Id + '" class="btn btn-success glyphicon glyphicon-hand-right">Edytuj</a>';
					},
					orderable: false,
				},
				{
					"render": function (data, type, row) {
						return '<button onclick="deleteProduct(' + row.Id + ')" class="btn btn-danger glyphicon glyphicon-trash" type="button">Usuń</button>';
					},
					orderable: false,

				},
			]
		});
	});

	function deleteProduct(productid) {

		swal({
			title: 'Jesteś pewny?',
			text: "Zastanów się dobrze!",
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'TAK'
		}).then((result) => {
			if (result.value == true) {
				$.ajax({
					method: "DELETE",
					url: "/WebServices/WSProduct/DeleteProduct?productId=" + productid,
					dataType: 'json',
					data: ''
				}).done(function (msg) {
					swal(
						'Usunięto!',
						'Produkt został usunięty.',
						'success'
					);
					productDataTable.ajax.reload();
					//setTimeout(function () {
					//	location.reload();
					//}, 1000);

					//alert("Data Saved: " + msg);
				});

			}
		})


	}
</script>