﻿
	<li class="dropdown">
		<a href="#" id="menuItemAdministration" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Texts.Administration<span class="caret"></span></a>
		<ul class="dropdown-menu multi-column columns-3">
			<div class="row">
				<div class="col-sm-3">
					<ul class="multi-column-dropdown">
						<h6>@Resources.Texts.Products</h6>
						<li>@Html.ActionLink(Resources.Texts.ShowAllProducts, "GetAllProduct", "Product")</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="multi-column-dropdown">
						<h6>@Resources.Texts.Users</h6>
						<li>@Html.ActionLink(Resources.Texts.ShowAllUsers, "GetAllUsers", "Account")</li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul class="multi-column-dropdown">
						<h6>@Resources.Texts.Categories</h6>
						<li>@Html.ActionLink("Dodaj kategorie", "AddProduct", "Product")</li>
						<li>@Html.ActionLink("Edytuj Kategorie", "AddProduct", "Product")</li>
						<li>@Html.ActionLink("Dodaj podkategorię", "AddProduct", "Product")</li>
						<li>@Html.ActionLink("Edytuj kategorię", "AddProduct", "Product")</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<div class="w3ls_products_pos">
						<h4>30%<i>Off/-</i></h4>
						<img src="~/images/1.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</ul>
	</li>
