﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, , shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>

	@Styles.Render("~/Content/css")
</head>
<body>
	@Scripts.Render("~/bundles/js")
	@RenderSection("scripts", required: false)
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		   function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>

	@if (TempData["error"] != null)
	{
		<script>
			swal({
				title: 'Błąd',
				text: "@TempData["error"]",
				type: 'error',
				confirmButtonColor: '#3085d6',
				confirmButtonText: 'Ok'
			});
		</script>
	}

	<!-- header modal -->
	@Html.Partial("~/Views/Account/_LoginAndRegisterFormPartial.cshtml")


	@*@Html.Partial("~/Views/Product/_AddProductWindowPartial.cshtml")*@

	<!-- header modal -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
			<div class="cart cart box_1">
				<form action="#" method="post" class="last">
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	@Html.Partial("~/Views/Shared/_NavigationPanelPartial.cshtml")
	<!-- //navigation -->

	<div>
		@RenderBody()
	</div>


	<!-- footer -->
	@Html.Partial("~/Views/Shared/_footerPartial.cshtml")
	<!-- //footer -->
	@*<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Nazwa aplikacji", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
						<li>@Html.ActionLink("Informacje", "About", "Home")</li>
						<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
						@if (User.IsInRole("Admin"))
						{
							<li>
								<div class="dropdown clearfix">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Uzytkownicy
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
										<li>@Html.ActionLink("Wszyscy użytkownicy", "Contact", "Home")</li>
										<li>@Html.ActionLink("Administratorzy", "Contact", "Home")</li>
										<li role="separator" class="divider"></li>
										<li>@Html.ActionLink("Dodaj użytkownika", "Contact", "Home")</li>
									</ul>
								</div>
							</li>

							<li>
								<div class="dropdown clearfix">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Produkty
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
										<li>@Html.ActionLink("Wszystkie produkty", "Contact", "Home")</li>
										<li role="separator" class="divider"></li>
										<li>@Html.ActionLink("Dodaj produkt", "Contact", "Home")</li>
									</ul>
								</div>
							</li>
						}
					</ul>
					@Html.Partial("_LoginPartial")
				</div>
			</div>
		</div>*@


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



	<script>
		$.extend(true, $.fn.dataTable.defaults, {
			"processing": true,
			"serverSide": true,
			"stateSave": true,
			"language": {
				"processing": "Przetwarzanie...",
				"search": "Szukaj:",
				"lengthMenu": "Pokaż _MENU_ pozycji",
				"info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
				"infoEmpty": "Pozycji 0 z 0 dostępnych",
				"infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
				"infoPostFix": "",
				"loadingRecords": "Wczytywanie...",
				"zeroRecords": "Nie znaleziono pasujących pozycji",
				"emptyTable": "Brak danych",
				"paginate": {
					"first": "Pierwsza",
					"previous": "Poprzednia",
					"next": "Następna",
					"last": "Ostatnia"
				},
				"aria": {
					"sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
					"sortDescending": ": aktywuj, by posortować kolumnę malejąco"
				}
			}
		});

		$(document).ready(function () {
			w3ls.render();

			w3ls.cart.on('w3sb_checkout', function (evt) {
				var items, len, i;

				if (this.subtotal() > 0) {
					items = this.items();

					for (i = 0, len = items.length; i < len; i++) {
					}
				}
			});
			autosize($('textarea'));


		});
	</script>
</body>
</html>
